<h1> New Message </h1>

<% if @message.errors.any? %>
  <% @message.errors.full_messages.each do |error_message| %>
    <div class="failure">
      <%= error_message %>
    </div>
  <% end %>
<% end %>

<%= form_for(@message) do |form| %>
  <div class="form-group">

    <%= label_tag 'message[recipients]', 'To' %>
    <%= text_field_tag 'message[recipient]', "#{@recipient.first_name} #{@recipient.last_name}", readonly: true, class: 'text-field' %>
  </div>

  <br/>

  <div class="form-group">
    <%= label_tag 'message[body]', 'Message:' %>
    <%= text_area_tag 'message[body]', '', class: 'text-area', placeholder: "Tell #{@recipient.first_name} about yourself, and ask what hours are available..." %>
  </div>

  <%= form.submit "Submit", class: 'submit' %>
<% end %>
