<h1>Tutors for <%= @course.name %> at <%= @course.university.name %></h1>

<ul class="no-dots">
  <% @tutors.each do |tutor| %>
    <li>
      <%= link_to new_message_path(tutor), class: "message-tutor-button" do %>
        <span class="glyphicon glyphicon-envelope"></span>
        Message
      <% end %>
      <%= tutor.first_name %> <%= tutor.last_name %>
    </li>
  <% end %>
</ul>
