<h1>Tutors for <%= @course.name %> at <%= @course.university.name %></h1>

<% @tutors.each do |tutor| %>
  <h2>
    <%= tutor.first_name %> <%= tutor.last_name %>
  </h2>
  <ul class="no-dots">
    <%= link_to new_message_path(tutor), class: "message-tutor-button" do %>
      <span class="glyphicon glyphicon-envelope"></span>
      Message
    <% end %>
  </ul>
<% end %>
