<h1> Courses at <%= @university.name %> </h1>


<ul id="courses" class="no-dots">
  <% @courses.each do |course| %>
    <li>
      <h2>
        <%= course.name %> 
      </h2>
      <%= link_to tutors_path(course), class: "find-tutor-button" do %>
          <span class="glyphicon glyphicon-user"></span>
          <% count = course.tutors.count %>
          <%= count %>
          <% if count == 1 %>
            Tutor
          <% else %>
            Tutors
          <% end %>
        <% end %>
      <% if current_user.tutors? course %>
        <%= link_to tutors_path(course), class: "stop-tutoring", method: :delete do %>
          <span class="glyphicon glyphicon-minus"></span>
          Stop Tutoring
        <% end %>
      <% else %>
        <%= link_to tutors_path(course), class: "start-tutoring", method: :post do %>
          <span class="glyphicon glyphicon-star"></span>
          Start Tutoring
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
