<!DOCTYPE html>
<html>
  <head>
    <title>Studyhub</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% if flash[:success] %>
      <div class="success" role="alert">
        <%= flash[:success] %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
