<!DOCTYPE html>
<html>
  <head>
    <title>Studyhub</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>


    <div class="container">
      <ul class="nav nav-pills">
        <li role="presentation">
          <%= link_to root_path do %>
            <span class="glyphicon glyphicon-home"></span>
          <% end %>
        </li>
        <li role="presentation">
          <%= link_to "Messages", my_messages_path %>
        </li>
        <li role="presentation">
          <%= link_to "Universities", universities_path %>
        </li>
        <% if user_signed_in? %>
          <li role="presentation">
            <%= link_to "Profile", root_path %>
          </li>
        <% end %>
      </ul>
      <% if flash[:success] %>
        <div class="success" role="alert">
          <%= flash[:success] %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
